{% extends 'base.html.twig' %}

{% block title %}Liste des établissements{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center mt-3">
        {% if etablissement.image %}
            <img src="{{ etablissement.image }}" class="card-img-top" alt="image_etablissement">
        {% endif%}
    </div>
    <div class="d-flex justify-content-center">
        <h1><strong>{{ etablissement.nom }}</strong></h1>

    </div>
    <div class="d-flex justify-content-center">
        {% for categorie in etablissement.categorie %}
            <span class="badge bg-warning text-wrap m-1"> {{ categorie.nom }}</span>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center">
        <p>{{ etablissement.description}}</p>
    </div>
    <div class="d-flex justify-content-center">
        <p><i class="bi bi-geo-fill"></i>L'établissement est situé  au {{ etablissement.adresse }}, <strong>{{ etablissement.ville.nom }}</strong>,{{ etablissement.ville.codePostal }} </p>
    </div>
    <div class="d-flex justify-content-center">
        <p>Pour contacter l'etablissement : email <i class="bi bi-envelope"></i>: {{ etablissement.email }} , téléphone <i class="bi bi-telephone-fill"></i>: {{ etablissement.telephone }}</p>
    </div>
    <div class="d-flex justify-content-center">
        <p>Actif depuis {{ etablissement.createdAt | date("d/m/Y") }}</p>
    </div>


{% endblock %}
