{% extends 'base.html.twig' %}

{% block title %}Liste des établissements{% endblock %}

{% block body %}

        <h1 class="d-flex justify-content-center mt-5 mb-5">Les établissements de la région Franche-Comté</h1>
            <div class="container">
            <div class="row align-items-center ">
            {% for etablissement in etablissements %}
                <div class="col mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{ etablissement.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                     <h5 class="card-title">{{ etablissement.nom }}</h5>

                        <p class="card-text">{{ etablissement.description|striptags|slice(0, 75)}}</p>
                        <p class="card-text">{{ etablissement.ville.codePostal }} {{ etablissement.ville.nom }}</p>
                        <p class="card-text">
                            {% for categorie in etablissement.categorie %}
                                <span class="badge bg-warning text-wrap"> {{ categorie.nom }}</span>
                            {% endfor %}
                        </p>
                        <a class="btn btn-outline-primary" href="{{ path('app_etablissement_slug', { slug : etablissement.slug}) }}" role="button">Voir</a>

                    </div>
                </div>
                </div>
            {% endfor %}
            </div>
    </div>
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(etablissements) }}
    </div>
{% endblock %}
